[Install]
WantedBy=multi-user.target

[Unit]
Description=mond
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
User=mond
WorkingDirectory=/opt/mond
ExecStart=/usr/bin/node /opt/mond/app.mjs
